<!-- element that can be clicked on -->
<li class="tetra-selectable-item" ng-click="clicked()"
        ng-class="{'tetra-item-horizontal': !isVertical()}">
	<div class="tetra-noselect">
		<i class="fa {{ icon }} tetra-menu-icon"></i>
		{{ label }}
		<i ng-if="isVertical()"
		   class="fa fa-chevron-left tetra-group-indicator-left"
		   ng-class="{'fa-rotate-270': isOpen}"></i>
	</div>
</li>
<!-- once above element is clicked div will be shown, if the element has the class
 .tetra-subitem-sec I want to show the menu vertically. Not horizontally. -->
<div ng-show="isOpen" class="tetra-subitem-sec"
     ng-class="{'tetra-popup-menu': !isVertical() }">
	<ul ng-transclude=""></ul>
</div>